*{
    box-sizing: border-box;
}

body{
    font-family: Lato;
}

h2{
    margin-bottom: 5px;
}

/* ----------------------------------------------------------------------------- */
/* MAIN LAYOUT                                                                   */
/* ----------------------------------------------------------------------------- */

.story-container,
.tree-container{
    width: calc(100% - 400px);
    position: absolute;
    top: 0px;
    right: 400px;
    padding: 5px;
    overflow: scroll;
    height: 100vh;
}

.story-container{
    background: black;
    color: white;
    min-height: 100vh;
}

.th-node.th-todo{
    background: #ffa700;
    border: solid 1px black;
}

/* --------------------- */
/* panel                 */
/* --------------------- */


.panel{
    position: fixed;
    background: gray;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 400px;
    overflow-y: scroll;
}

.panel-content{
    position: absolute;
    top: 30px;
    margin: 10px;
    width: calc(100% - 20px);
}

.panel-control{
    position: absolute;
    top: 50px;
    margin: 10px;
    width: calc(100% - 20px);
}

.panel-header{
    height: 30px;
    border-bottom: solid 1px black;
    overflow: hidden;
}


.panel i svg{
    margin-bottom: 4px;
}


.panel h3 span{
    padding-left: 10px;
}

/* --------------------- */
/* transition/animation  */
/* --------------------- */

.hide{
    display: none;
}

img{
    max-width: 100%;
}


/* ----------------------------------------------------------------------------- */
/* CONTROL PANEL                                                                 */
/* ----------------------------------------------------------------------------- */

.th-btn{
    cursor: pointer;
}

.th-btn-mode{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100px;;
    padding: 5px;
    background: gray;
    border: solid 1px black;
}

.th-btn.active{
    background: white;
}

.th-btn-infos.active{
    color: white;
    background: transparent;
}

.th-btn-control{
    /* right: 0; */
    /* position: absolute; */
    /* height: 50px; */
    /* width: 50px; */
    /* display: inline-block; */
    /* z-index: 100; */
}

.th-btn-infos{
    margin: 4px;
    height: 30px;
    float: right;
}

.th-btn-icon{
    display: inline-block;
    width: 30px;
}

.th-btn-hl,
.th-btn-show{
    height: 25px;
    width: 25px;
    float: right;
}

.th-control-elem{
    height: 30px;
    padding: 5px;
}


/* ----------------------------------------------------------------------------- */
/* SCRIPT/TREE VIEW                                                              */
/* ----------------------------------------------------------------------------- */

.th-btn-tree{
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 5px;
    border: solid 1px black;
}
.th-node{
    border-top: solid 2px black;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: all 0.2 ease-in-out;
    background:white;
    overflow: hidden;
    max-height: 10000px;
}

.th-node.split{
    margin: 0;
}

.th-node .title{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.th-node.highlight{
    background: rgb(240, 240, 240);
}

.timecode{
    font-size: 120%;
    color: white;
    margin-bottom: -10px;
}

.children .hidden{
    display: none;
}

.depth-1{
    font-weight: 900;
    font-size: 150%;
}

.depth-2{
    font-weight: 700;
    font-size: 125%;
}

.depth-3{
    font-weight: 500;
    font-size: 100%;
}

.th-btn-expand{
    float: right;
    cursor: pointer;
}

.split{
    padding: 0;
    border: none;
}

.split > div.children{
    width: 100%;
    display: flex;
}

.split > div.children > div{
    display: block;
    width: 33.3%;
}

.data-elem{
    border: solid 1.5px transparent;
    padding: 5px;
    color: gray;
}

.data-content{
    display: inline; 
    margin-left: 10px;
}

.data-elem.highlight{
    border: solid 1.5px green;
    /* background: lightgreen; */
    color: green;
}


/* ----------------------------------------------------------------------------- */
/* STORYBOARD                                                                    */
/* ----------------------------------------------------------------------------- */


/* --------------------- */
/* storyboard navigation */
/* --------------------- */

.th-story-nav{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px white;
}

.th-btn-story-nav{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 50px;
    font-weight: 800;
    /* margin-top: 5px; */
}

.th-story-nav h1{
    margin-top: 5px;
    display: inline-block;
}


.th-story-nav-after,
.th-story-nav-before{
    float: right;
    padding: 5px 0px;
    width: 100px;
    /* border: solid 1px gray; */
    display: inline-block;
    margin-top: 10px;
}

.th-story-nav-before{
    text-align: right;
}

/* .th-story-nav-after{ */
/*     left: 80%; */
/* } */

.th-story-nav i{
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 100%;
    margin-right: 5px;
    margin-left: 5px;
    top: -5px;
}

/* --------------------- */
/* storyboard content    */
/* --------------------- */

.th-story-title-timecode{
    color: gray;
    margin-right: 10px;
}

.th-story-data{
    padding: 5px;
    width: 25%;
}

.th-story-data img{
    max-width: 100%;
}

.th-story-data-container{
    display: flex;
    flex-wrap: wrap;
}

.th-story-data-container i{
    display: inline-block;
    width: 35px;
}

.th-story-data-container h3,
.th-story-data-container h2{
    margin: 0px;
    margin-bottom: 5px;
}

.th-story-data-container h2{
    color: gray;
}

.th-story-data-interface .th-story-data-parcours-container{
    display: flex;
    width: 100%;
}

.th-story-data-interface{
    width: 100%;
    min-height: 400px;
}

.th-story-data-interface .th-story-data-parcours{
    width: 50%;
}


/* --------------------- */
/* storyboard graph      */
/* --------------------- */

circle{
    cursor: pointer;
    fill: black;
}
.circle-hl{
    stroke: red;
    stroke-width: 5;
}

