* {
    box-sizing: unset;
}

body {
    font-family: sans-serif;
    font-size : 12px;
    background: #222222;
}

.fi-padding {
    height: 20px !important;
    width: 20px !important;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 14px;
}

/*********************************************************************
* PANEL
*********************************************************************/

.panel {
    top: 10px;
    left : 20px;
    width: 300px;
    z-index: 10;
    background: transparent;
    overflow-y: auto;
}

.panel-header {
    background: #222222;
    border-bottom: none 0px;
    position: fixed;
    width: 300px;
    height: 40px;
    z-index: 100;
}

.th-btn-mode {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #808080;
    background: #000000;
    border: none 0px;
}

.panel a i svg {
    margin-bottom: 0px;
    color: #ffa700;
}

.panel-content {
    color: #000000;
}

.panel a:hover i svg {
    color: #ffffff;
}

.panel-content {
    position: relative;
    top:0px;
    padding: 15px 15px;
    margin: 40px 0px 0px;
    width: calc(100% - 30px);
    background: #8a4e00;
}

.panel-content .panel-header {
    position: relative;
    width: auto;
    height: auto;
    margin-top: 5px;
    background: transparent;
    z-index: 10;
}

.panel-content select {
    margin: 0 0 0 10px;
    background: #000;
    border: 0px none;
    font-weight: bold;
    color: #ffa700;
    padding: 2px 5px;
}

.th-btn-tree {
    width: auto;
    padding: 2px 5px;
    margin-right: 10px;
    font-weight: 600;
    border: 0px none;
    color: #808080;
    background: #000000;
}

.panel-story svg {
    margin: -100px 0px -200px -55px;
    scale: 75%;
}

.th-control-elem {
    padding: 5px 0px;
    border-bottom: 1px solid #b36500;
    font-weight: 500;
    height: 20px;
}

.th-btn-icon {
    width: 20px;
    padding-right: 10px;
}

.th-btn-hl, .th-btn-show {
    height: 30px;
    width: 30px;
}

.circle-hl {
    stroke: #ffa700;
}

.th-btn.active,
span a.th-btn.active {
    background: #ffa700;
    color: #000000;
}

a.th-btn.active i svg {
    color: #000000;
}

.th-btn-infos {
    margin: 15px 20px 5px 0px;
    height: 20px;
    background: transparent !important;
}

.th-btn-infos i svg {
    color: #808080 !important;
}

.th-btn-infos.active i svg {
    color: #ffa700 !important;
}

a:hover, 
.th-btn-infos:hover i svg, 
.th-btn.active:hover i svg, 
span a.th-btn.active:hover {
    color: #ffffff !important;
}

.panel-infos h2, 
.panel-infos h3 {
     color: #ffa700;
}

/*********************************************************************
* CONTAINER
*********************************************************************/

.story-container, 
.tree-container {
    position: absolute;
    top: 20px;
    left: 330px;
    right: auto;
    padding: 10px;
    margin-right: 40px;
    width: calc(100% - 370px);
    height: auto;
    min-height: auto;
    overflow: unset;
}

/*********************************************************************
* STORY-CONTAINER */

.story-container {
    padding: 0px;
    background: transparent;
    color: #bbbbbb;
    top: 50px;
}

.th-story-data-container {
    margin-bottom: 30px;
}

.th-story-nav {
    width: auto;
    height: auto;
    padding: 15px 20px;
    border-bottom: 0px none;
    background: black;
    margin: 0px 10px 5px 0px;
}

.th-story-nav h1 {
    font-size: 150%;
    text-transform: uppercase;
    margin: 0px 0px;
}

.th-story-nav-after, .th-story-nav-before {
    position: absolute;
    top: -40px;
    left: 0px;
    padding: 5px 0px;
    height: 30px;
    width: 140px;
    border: none 0px;
    display: inline-block;
    margin-top: 0px;
    text-align: left;
}

.th-story-nav-before {
    text-align: right;
}

.th-story-nav-after {
    left: 140px;
}

.th-btn-story-nav {
    top: 4px;
    width: auto;
    font-size: 20px;
    margin-top: 0px;
    color: #8a4e00;
}

.th-story-nav i {
    height: 30px;
    width: 30px;
    color: #ffa700;
}

.th-story-nav a:hover i, 
.th-story-nav a:hover span {
    color: #ffffff;
}

.th-story-data {
    padding: 0px;
    width: calc(25% - 6px);
    margin: 0px 5px 0px 0px;
    background: #000;
}

.th-story-data-parcours-container {
    padding: 0px 10px 10px 10px;
}

.th-story-data-container h2 {
    color: #777777;
    text-transform: uppercase;
    font-size: 11px;
    padding: 10px 10px 0px;
}

.th-story-data-container h3 {
    font-size: 11px;
    border-top: 1px solid #222222;
    margin: 5px 0px 0px;
    padding: 5px 0px;
    color: #8a4e00;
}

.th-story-data-interface {
    width: 100%;
    min-height: 240px;
    padding: 10px;
    margin: 0px 10px 5px 0px;
    background: #000;
}

.th-story-data-interface h2 {
    padding: 0px;
    margin: 0px;
}

.th-story-data-interface .th-story-data-parcours-container {
    padding: 0px 0px;
}

.th-story-data-interface .th-story-data-parcours-interface_tableau {
    margin: 0 20px 0 0;
    width: 78%;
}

.th-story-data-interface .th-story-data-parcours-interface_module {
    width: 22%;
}

.th-story-data-container .th-story-data-interface h3 {
    border-bottom: 0px none;
    padding: 5px 0px 10px;
}

.th-story-data-container i {
    width: 25px;
}

.th-story-data-parcours p  {
    padding: 0px 0px 2px 25px;
    margin: 0px;
    display: block;
    font-size: 11px;
    color: gray;
}


/*********************************************************************
* TREE-CONTAINER */

.tree-container {
    padding: 0px;
    top: 50px;
    width: 800px;
}

.th-node {
    border-top: 0px none;
    margin-top: 0px;
    margin-bottom: 5px;
    background: #cccccc;
    overflow: hidden;
    max-height: 10000px;
    padding: 10px;
}

.th-node.highlight {
    background: #aaaaaa;
}

.th-node .title {
    padding-top: 5px;
}

.data-elem {
    padding: 2px 5px;
    color: #333333;
}

.th-node .depth-3 {
    font-weight: 600;
    font-size: 120%;
    padding-top: 0px;
}
